body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: auto;
  background-color: white;
}

/*-------global--------*/
.current{
color: orange;
}

.gee{
  background: rgb(97, 157, 206);
  text-decoration: none;  
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
}


/*------------ header -----------*/
.navbar {
  background-color: rgb(97, 157, 206)!important;
  font-weight: 800;
  color: white !important;
  padding-top: 30px;
  min-height: 60px;
  border-bottom:orange 5px solid;
  }

  .navbar img{    
    height: 50px;
  }

   .navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 2ch;
    font-weight: 700;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: grey !important;
  }
  
   


/* preface starts */
#preface {
  /* min-height: 400px; */
  height: 100%;
  background: url("../img/preface_2.png") no-repeat;
  background-size: cover !important;
  object-fit: cover;
  text-align: center;
  color: white;
}
#preface h1 {
  /* margin-top: 100px; */
  font-size: 50px;
  margin-bottom: 10px;
}

#preface p {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  #subscribe {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 800px) {
  #preface2 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
  }
}

/* boxes */
#boxes {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* catalogue sliders */
#slider {
  width: 100%;
  object-fit: cover;
  
}

.carouser-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}

.carouser-caption h4 {
  color: goldenrod;
  font-size: 15px !important;
}

/* footer */
footer {
  text-align: center;
  background-color: rgb(97, 157, 206);
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-top: 5px solid orange;
}



#about_us{
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#slider .carousel-inner .carousel-item img{  
 object-fit: cover;
  width: 100%;

}

.shadow-custom{
  box-shadow: 0 0.5rem 1rem rgba(117, 101, 101, 0.767) !important;
}

section#boxes .container .row .col-md-3:nth-child(3) .card{
  transition: all 0.53s;
  z-index: 9999 !important;
  transform: scale(1.1);
}

@media screen and (max-width: 1000px){
  .card {
    margin-bottom: 30px;
  }
}

#form-main{
  padding-top: 10px;
  padding-bottom: 10px;
  
}



  
