body {
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: auto;
  background-color: white;
  overflow-x: hidden;
}

/*-------global--------*/
.current {
  color: orange;
}

.gee {
  background: rgb(97, 157, 206);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
}

/*------------ header -----------*/
.navbar {
  background-color: rgb(97, 157, 206) !important;
  font-weight: 800;
  color: white !important;
  padding-top: 30px;
  min-height: 20px;
  border-bottom: orange 5px solid;
}

.navbar img {
  height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-size: 1.5ch !important;
  font-weight: 700 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: grey !important;
}

/* dropdown */
.dropdown-item {
  display: block;
  width: 100%;
  padding: .15rem .9rem;
  clear: both;
  font-weight: 400;
  font-size: 1.5ch !important;
  color: rgb(97, 157, 206) !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  
}

/* preface starts */
#preface {
  /* min-height: 400px; */
  height: 100%;
  background: url("../img/preface_2.png") no-repeat;
  background-size: cover !important;
  object-fit: cover;
  text-align: center;
  color: white;
}
#preface h1 {
  /* margin-top: 100px; */
  font-size: 50px;
  margin-bottom: 10px;
}

#preface p {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  #subscribe {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  section.my-profile .container .card {
    width: 100% !important;
  }
}

@media screen and (min-width: 800px) {
  #preface2 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
  }
}

/* boxes */
#boxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* catalogue sliders */
#slider {
  width: 100%;
  object-fit: cover;
}

.carouser-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}

.carouser-caption h4 {
  color: goldenrod;
  font-size: 15px !important;
}

/* footer */
footer {
  text-align: center;
  background-color: rgb(97, 157, 206);
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-top: 5px solid orange;
}

#about_us {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#slider .carousel-inner .carousel-item img {
  object-fit: cover;
  width: 100%;
}

.shadow-custom {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

section#boxes .container .row .col-lg-3:nth-child(3) .card {
  transition: all 0.53s;
  -webkit-transition: all 0.53;
  z-index: 9999 !important;
  transform: scale(1.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

@media screen and (max-width: 1000px) {
  .card {
    margin-bottom: 30px;
  }
  section.my-profile .container .card .card-body .row .col-md-6:last-child {
    padding-top: 30px;
  }
  section.my-profile
    .container
    .card
    .card-body
    .row
    .col-md-6:first-child
    img {
    max-width: 150px !important;
    max-height: 150px !important;
  }
}

#form-main {
  padding-top: 10px;
  padding-bottom: 10px;
}

#content {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#content .row {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  margin-bottom: auto;
}

#content img {
  padding-top: 5px;
  height: auto;
  width: 100%;
  display: block;
}

.col-mid {
  padding-bottom: 20px;
  font-weight: 500;
  text-align: center;
  padding-top: 70px !important;
}

#content h3 {
  font-weight: bold;
  color: rgb(97, 157, 206);
}

#content h3:hover {
  font-weight: bold;
  color: rgb(97, 157, 206);
  cursor: pointer;
}

#content h3::after {
  content: "";
  height: 4px;
  width: 110px;
  background: rgb(97, 157, 206);
  display: block;
  margin: 7px auto 7px;
}

.bg-col {
  
  display: block;
  border-radius: 5px 0px 5px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.adjust-progress p {
  padding-top: 10px;
  margin-bottom: 6px;
  font-weight: 600;
}

.progress {
  border-radius: 16px !important;
  margin-bottom: 20px;
}

.progress-bar {
  border-radius: 16px;
}

@media screen and (max-width: 750px) {
  .services .container .row.services-img .col-md-6:last-child {
    order: 1 !important;
    padding-top: 20px !important;
  }
  .services .container .row.services-img .col-md-6:first-child {
    order: 2 !important;
    padding-top: 30px !important;
  }
}