body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: auto;
  background-color: #f4f4f4;
}


.current{
color: orange;

}

.button1 {
  color: white;
  background: #e46845;
  height: 35px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.orange {
  color: #e46845;
}

/* header */
.navbar {
  background-color: rgb(97, 157, 206)!important;
  font-weight: 800;
  color: white !important;
  padding-top: 30px;
  min-height: 60px;
  border-bottom:orange 5px solid;
  }
  .navbar img{    
    height: 50px;
  }

   /* .container .navbar-brand {
    color: rgb(187, 197, 47) !important;
    font-size: 1ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } */

  .navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-size: 2ch;
    font-weight: 700;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: grey !important;
  }
  
   
/* header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  display: inline;
  padding: 0 10px 0 10px;
}

ul navbar-nav{
  float: right;
}




header nav {
  float: right;
  margin-top: 10px;
}

header .current a {
  color: #e46845;
  font-weight: bold;
}

header a:hover {
  color: lightblue;
  font-weight: bold;
} */

/* preface starts */
#preface {
  /* min-height: 400px; */
  height: 100%;
  background: url("../img/preface_2.png") no-repeat;
  background-size: cover !important;
  object-fit: cover;
  text-align: center;
  color: white;
}
#preface h1 {
  /* margin-top: 100px; */
  font-size: 50px;
  margin-bottom: 10px;
}

#preface p {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  #subscribe {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 800px) {
  #preface2 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
  }
}

/* newsletter */
#newsletter{
background-color: rgb(28, 108, 182);
color: white;
/* padding-top: ; */

}
#newsletter h1 {
  margin-top: 10px;
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  height: 35px;
  width: 200px;
  padding: 4px;
  border-radius: 5px 0 0 5px;
}

/* boxes */
#boxes {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* #boxes .box {
  float: c;
  width: 30%;
  text-align: center;
  padding: 10px auto;  
} */

#boxes p{
  background: wheat;
  padding: 10px;  
  border-radius: 10px;
  display: block;
  /* shape-outside: 10px; */
}

/* #boxes .box img {
  width: 70px;
} */

/* sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* artice */
article#page-col {
  float: left;
  width: 60%;
}

/* catalogue sliders */
#slider {
  width: 100%;
  object-fit: cover;
  
}

.carouser-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}

.carouser-caption h4 {
  color: rgb(1 31, 17, 17);
  font-size: 15px !important;
}

/* footer */
footer {
  text-align: center;
  background-color: rgb(97, 157, 206);
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-top: 5px solid orange;
}

.gee{
  background: rgb(97, 157, 206);
  text-decoration: none;  
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;

  
}

#about_us{
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}
#form-main{
  padding-top: 10px;
  padding-bottom: 20px;
}
#slider .carousel-inner .carousel-item img{  
 object-fit: cover;
  width: 100%;

}

.shadow-custom{
  box-shadow: 0 0.5rem 1rem rgba(204, 19, 19, 0.767) !important;
}

section#boxes .container .row .col-md-3:nth-child(3) .card{
  transition: all 0.53s;
  z-index: 9999 !important;
  transform: scale(1.1);
}

@media screen and (max-width: 1000px){
  .card {
    margin-bottom: 30px;
  }
}